.project
core/.project
tpc/.project

.factorypath
core/.factorypath
tpc/.factorypath

.classpath
core/.classpath
tpc/.classpath

.settings/
core/.settings/
tpc/.settings/

.idea/libraries/
core/.idea/libraries/
tpc/.idea/libraries/

target/
core/target/
tpc/target/

limestone-aggregator.iml
core/limestone-core.iml
tpc/limestone-tpc.iml