<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>

    <!-- Used by the root logger, print everything in the application -->
    <File name="GeneralFileAppender" fileName="logs/general.log" append="false">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>

    <!-- Used mainly by the entrypoints, print to stdout -->
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} [%highlight{%level}{}] [%t] %logger{36} - %msg%n"/>
    </Console>

    <!-- Used to specifically monitor optimizer planning process -->
    <File name="RelOptPlannerFileAppender" fileName="logs/reloptplanner.log" append="false">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="GeneralFileAppender" />
    </Root>

    <Logger name="org.tglanz.limestone.tpc.TpcRunner" level="info">
      <AppenderRef ref="ConsoleAppender" />
    </Logger>

    <Logger name="org.apache.calcite.plan.RelOptPlanner" level="trace">
      <AppenderRef ref="RelOptPlannerFileAppender" />
    </Logger>
  </Loggers>
</Configuration>